<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="loginAction" class="cn.com.myjbpm.center.action.LoginAction"
		scope="prototype" />
	<bean id="deployAction" class="cn.com.myjbpm.center.action.DeployAction"
		scope="prototype" />
	<bean id="flowDenitionAction" class="cn.com.myjbpm.center.action.FlowDenitionAction"
		scope="prototype" />
</beans> 
